^{:watch-dirs ["src"]
  :css-dirs   ["resources"]
  :mode       :serve
  :open-url   false}
{:main                 bridge.main
 :output-to            "resources/js/app.js"
 :output-dir           "target/js/out"
 :asset-path           "/js/out"
 :source-map           true
 :source-map-timestamp true
 :optimizations        :none
 :parallel-build       true
 ;; :closure-defines {"re_frame.trace.trace_enabled_QMARK_"        true
 ;;                   "day8.re_frame.tracing.trace_enabled_QMARK_" true}
 :preloads             [devtools.preload
                        re-frisk.preload
                        ;; 'day8.re-frame-10x.preload
                        ]}}
