<configuration scan="true" scanPeriod="10 seconds">

  <logger name="ch.qos.logback" level="ERROR"/>
  <logger name="org.eclipse" level="ERROR"/>
  <logger name="datomic" level="WARN"/>

  <logger name="bridge" level="INFO"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
